@model IEnumerable<AWSServerlessCoreApp.Models.TrainingProgram>
@{
    ViewData["Title"] = "Home page";
}
<header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1 class="text-uppercase">
                    <strong>Additional information about training program</strong>
                </h1>
                <hr>
            </div>
            <div class="col-lg-8 mx-auto">
                <p class="text-faded mb-5"></p>
                <a class="btn btn-primary btn-xl sr-button js-scroll-trigger" href="#about">Find Out More</a>
            </div>
        </div>
    </div>
</header>
<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading text-white">We've got what you need!</h2>
                <hr class="light my-4">
                <h3 class="text-faded mb-3">Edvantis will provide training for students of recent courses and graduates of higher educational institutions in Ukraine (directions of study: software engineering, computer science, mathematics, etc.).</h3>
                <h3 class="text-faded mb-3">Term of training 21.05.2018 - 29.06.2018 (6 weeks).</h3>
                <a class="btn btn-light btn-xl sr-button js-scroll-trigger" href="#contact">Get Started!</a>
            </div>
        </div>
    </div>
</section>
@foreach (var trainingProgram in Model)
{
    <section id="requirements">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">@trainingProgram.Title training program</h2>
                    <h2 class="section-heading">Requirements for candidates:</h2>
                    <hr class="my-4">
                </div>
            </div>
        </div>

        <div class="container">
             @foreach (var requirement in @trainingProgram.Requirements)
             {
                 <div class="row">
                    <div class="col-lg-12 col-md-12 text-left">
                        <i class="fa fa-4x fa-diamond text-primary mb-3 sr-icons"></i>
                        <h4 class="mb-3"> @requirement.Description</h4>
                    </div>
                </div>
             }
        </div>
    </section>
}
<section class="p-0" id="photos">
    <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">
            <div class="col-lg-4 col-sm-6">
                <a class="photos-box" href="http://res.cloudinary.com/dadl3og8a/image/upload/v1525183261/1.jpg">
                    <img class="img-fluid" src="http://res.cloudinary.com/dadl3og8a/image/upload/v1525183261/1.jpg" alt="">
                    <div class="photos-box-caption">
                        <div class="photos-box-caption-content">
                            <div class="photos-text text-faded">
                                Сompany photo
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="photos-box" href="http://res.cloudinary.com/dadl3og8a/image/upload/v1525183262/2.jpg">
                    <img class="img-fluid" src="http://res.cloudinary.com/dadl3og8a/image/upload/v1525183262/2.jpg" alt="">
                    <div class="photos-box-caption">
                        <div class="photos-box-caption-content">
                            <div class="photos-text text-faded">
                                Сompany photo
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="photos-box" href="http://res.cloudinary.com/dadl3og8a/image/upload/v1525183262/3.jpg">
                    <img class="img-fluid" src="http://res.cloudinary.com/dadl3og8a/image/upload/v1525183262/3.jpg" alt="">
                    <div class="photos-box-caption">
                        <div class="photos-box-caption-content">
                            <div class="photos-text text-faded">
                                Сompany photo
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="photos-box" href="http://res.cloudinary.com/dadl3og8a/image/upload/v1525183262/4.jpg">
                    <img class="img-fluid" src="http://res.cloudinary.com/dadl3og8a/image/upload/v1525183262/4.jpg" alt="">
                    <div class="photos-box-caption">
                        <div class="photos-box-caption-content">
                            <div class="photos-text text-faded">
                                Сompany photo
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="photos-box" href="http://res.cloudinary.com/dadl3og8a/image/upload/v1525183262/5.jpg">
                    <img class="img-fluid" src="http://res.cloudinary.com/dadl3og8a/image/upload/v1525183262/5.jpg" alt="">
                    <div class="photos-box-caption">
                        <div class="photos-box-caption-content">
                            <div class="photos-text text-faded">
                                Сompany photo
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="photos-box" href="http://res.cloudinary.com/dadl3og8a/image/upload/v1525183262/6.jpg">
                    <img class="img-fluid" src="http://res.cloudinary.com/dadl3og8a/image/upload/v1525183262/6.jpg" alt="">
                    <div class="photos-box-caption">
                        <div class="photos-box-caption-content">
                            <div class="photos-text text-faded">
                                Сompany photo
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
@foreach (var trainingProgram in Model)
{
    <section class="bg-primary" id="trainingProgram">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <h2 class="section-heading text-white">Training program: </h2>
                    <h3 class="text-faded mb-3">@trainingProgram.Title</h3>
                    <hr class="light my-4">
                    <h2 class="section-heading text-white">Details:</h2>
                    @foreach (var technology in @trainingProgram.Technologyies)
                    {
                        <h3 class="text-faded mb-3">@technology.TechnologyName</h3>
                    }
                    <a class="btn btn-light btn-xl sr-button js-scroll-trigger" href="#contact">Get Started!</a>
                </div>
            </div>
        </div>
    </section>
}
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">Let's Start</h2>
                <hr class="my-4">
                <h4 class="mb-5">In order to participate in the testing, you must send a mail request and provide the following information: name and surname, e-mail address, phone number, educational institution's name. </h4>
                <h4 class="mb-5">Registration for testing will run until 11.05.2018.</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center">
                <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
                <p>+380974476175</p>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
                <p>
                    <a href="mailto:your-email@your-domain.com"> bootcamp@edvantis.com</a>
                </p>
            </div>
        </div>
    </div>
</section>